*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: sans-serif;

}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 69px;
    background: #020202;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar{
    display: flex;
    margin-right: 10px;
    
}
.logo{
    margin-left: 10px;
    position: absolute;
   
}
.nav ul{
    float:right;
    margin-right: 10px;
}
.navbar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.navbar ul li a{
  
   
    padding: 23px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    
    
}
.navbar a:hover{
    
    background: #f7860596;
    padding: 23px 20px;
    transition: .2s;
   
    
   
}
.checkbtn{
    font-size: 20px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    visibility: hidden;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;

}
.header{
    height: 76vh !important;
    background: url(Header1.jpg) no-repeat center;
    background-size: cover;
    
}
.title{
  
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
p{
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}
.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #e46f02;
    color: #fff;
    text-decoration: none;
    background: #e46f02;
}
.btn:hover{
    background: #df440873;
}
.btn-home{
    display: flex;

}
.btn-home a{
    margin: 0 10px;
}
.content{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sau{
    padding:  30px;
    background: #1f1d1d;
}
.box-container{
    display: flex;
    
    flex-wrap: wrap;
    text-align: center;
}
.box-container .box{
    height: 13rem;
    width: 8rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3 5rem rgb(0,0,0,0.5);
    margin: 2rem;
}
.box-container .box i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #e46f02;
    font-size: 2rem;
    margin: 1rem 0;

}
.box-container .box h3{
    font-size: 20px;
    color: #e46f02;
    

}
.box-container .box p{
    font-size: 16px;
    padding: 0 15px;

}
.about{
    background: #171717;
}
.price{
    background:  url(Costo.jpg) no-repeat center;
    background-attachment: fixed;
    text-align: center;
    background-size: cover;
}
.contact{
    padding-top: 50px;
    background: #171717;
    padding-bottom: 0;

}
@media (max-width:952px){
    .title{
        margin-bottom: 0;
        font-size: 40px;
    }
    .sau{
        height: 120vh;
    }
    .navbar ul li a{
      font-size: 16px;
    }
  

}
@media (max-width: 780px){
    .checkbtn{
        display: block;
        position: fixed;
        left: 94%;
        
    }
    .navbar ul{
        position: fixed;
        width: 50%;
        height: 70vh;
        background: #2a2a2b;
        top: 69px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    .navbar ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .navbar ul li a{
        font-size: 20px;
    }
    .navbar ul li a:hover{
       
        background: #e46f02;
    }
    #check:checked ~ .navbar ul{
        
        left:50%; 
       
    }
    
}
@media (max-width: 636px){
    .box-container .box{
    
 
        margin: 20px;
    }
}
@media (max-width: 582px){

    .title{
  
        margin-bottom: 10px;
        font-size: 40px;
      
    }
    p{
        margin-bottom: 40px;
        font-size: 15px;
        padding: 0 50px;
        
    }
    .btn{
        
        margin-top: 2px;
        padding: 8px 20px;
     
    }
    .box-container .box{
        height: 9rem;
        width: 7rem;
   
        border-radius: 1rem;
 
        margin: 5px;
    }
    .box-container .box i{
        height: 2rem;
        width: 2rem;
        line-height: 2rem;
        text-align: center;
       
  
        font-size: 1rem;
     
    
    }
    .box-container .box h3{
        font-size: 15px;
       
        
    
    }
    .box-container .box p{
        font-size: 12px;
        padding: 0 10px;
    
    }
    
}
@media (max-width: 300px){

    .title{
  
        margin-bottom: 10px;
        font-size: 20px;
      
    }
    p{
        margin-bottom: 40px;
        font-size: 10px;
        padding: 0 20px;
        
    }
    .btn{
        
        margin-top: 2px;
        padding: 2px 10px;
     
    }
    .box-container .box{
        height: 7rem;
        width: 4rem;
   
        border-radius: 1rem;
 
        margin: 5px;
    }
    .box-container .box i{
        height: 2rem;
        width: 2rem;
        line-height: 2rem;
        text-align: center;
       
  
        font-size: 1rem;
     
    
    }
    .box-container .box h3{
        font-size: 10px;
       
        
    
    }
    .box-container .box p{
        font-size: 7px;
        padding: 0 6px;
    
    }
    
}

